.content-meta {
  margin-top: 0;
  color: var(--darkgray);

  &:not(:last-child) {
    margin-bottom: 0;
  }

  &[show-comma="true"] {
    >*:not(:last-child) {
      margin-right: 8px;

      &::after {
        content: ",";
      }
    }
  }
}

.content-meta-authors {
  margin-top: 0;
  font-style: italic;
  text-decoration: underline;
  color: #aeaeae;
}

.content-meta-authors * {
  color: inherit;
}